# URL de conexão com o Banco de Dados PostgreSQL
# Formato: postgresql://[usuario]:[senha]@[host]:[porta]/[nome_do_banco]
# Para uso local: host=localhost
# Para uso dentro do Docker Compose: host=db
DATABASE_URL=postgresql://postgres:senha_secreta@localhost:5432/postgres
